            <header class="site-header">
    <span class="site-title">My Symfony Site</span>
</header>
<nav>
    <ul>
        <li><a href="{{ path('me') }}">Me</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('lucky') }}">Lucky number</a></li>
        <li><a href="{{ path('report') }}">Redovisning</a></li>
    </ul>
</nav>
<h1>MVC</h1>
<div>
    <p>MVC fokuserar på objektorienterade programmeringstekniker i språket PHP.</p>
    <p>Objektorienteringen hanteras även med hjälp av ramverk.</p>
</div>
<div>
    <p>Jag pluggar webbprogrammering på bth.</p>
    <img src="img/mvc.png" alt="mvc" width="200">
    <a href="https://github.com/dbwebb-se/mvc">mvc github</a>
</div>